.box {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
}

.mainDiv {
  position: relative;
  margin: 10px;
  background-color: #5787f045;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  height: 60vh;
}

.form::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 0 17px 3px #ffff01, 0 0 4px 2px #ffff01;
  box-shadow: 0 0 17px 3px #ffff01, 0 0 4px 2px #ffff01;
  z-index: -1;
  -webkit-animation-name: gradient-shadow;
  animation-name: gradient-shadow;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-duration: 6s;
  animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

@-webkit-keyframes gradient-shadow {
  0% {
    -webkit-box-shadow: 0 0 17px 3px #c586c0, 0 0 4px 2px #c586c0;
    box-shadow: 0 0 17px 3px #c586c0, 0 0 4px 2px #c586c0;
  }
  20% {
    -webkit-box-shadow: 0 0 17px 3px #0ff, 0 0 4px 2px #0ff;
    box-shadow: 0 0 17px 3px #0ff, 0 0 4px 2px #0ff;
  }
  40% {
    -webkit-box-shadow: 0 0 17px 3px #0f0, 0 0 4px 2px #0f0;
    box-shadow: 0 0 17px 3px #0f0, 0 0 4px 2px #0f0;
  }
  60% {
    -webkit-box-shadow: 0 0 17px 3px #ffff01, 0 0 4px 2px #ffff01;
    box-shadow: 0 0 17px 3px #ffff01, 0 0 4px 2px #ffff01;
  }
  80% {
    -webkit-box-shadow: 0 0 17px 3px #f00, 0 0 4px 2px #f00;
    box-shadow: 0 0 17px 3px #f00, 0 0 4px 2px #f00;
  }
  100% {
    -webkit-box-shadow: 0 0 17px 3px #c586c0, 0 0 4px 2px #c586c0;
    box-shadow: 0 0 17px 3px #c586c0, 0 0 4px 2px #c586c0;
  }
}

@keyframes gradient-shadow {
  0% {
    -webkit-box-shadow: 0 0 17px 3px #c586c0, 0 0 4px 2px #c586c0;
    box-shadow: 0 0 17px 3px #c586c0, 0 0 4px 2px #c586c0;
  }
  20% {
    -webkit-box-shadow: 0 0 17px 3px #0ff, 0 0 4px 2px #0ff;
    box-shadow: 0 0 17px 3px #0ff, 0 0 4px 2px #0ff;
  }
  40% {
    -webkit-box-shadow: 0 0 17px 3px #0f0, 0 0 4px 2px #0f0;
    box-shadow: 0 0 17px 3px #0f0, 0 0 4px 2px #0f0;
  }
  60% {
    -webkit-box-shadow: 0 0 17px 3px #ffff01, 0 0 4px 2px #ffff01;
    box-shadow: 0 0 17px 3px #ffff01, 0 0 4px 2px #ffff01;
  }
  80% {
    -webkit-box-shadow: 0 0 17px 3px #f00, 0 0 4px 2px #f00;
    box-shadow: 0 0 17px 3px #f00, 0 0 4px 2px #f00;
  }
  100% {
    -webkit-box-shadow: 0 0 17px 3px #c586c0, 0 0 4px 2px #c586c0;
    box-shadow: 0 0 17px 3px #c586c0, 0 0 4px 2px #c586c0;
  }
}

.titulo {
  font-size: 2em;
}



.containerInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1vh 1vw;
}

.span {
  color: #f00;
  background-color: rgba(255, 0, 0, 0.18);
  margin-top: 1vw;
  font-size: 100%;
  border-radius: 10px;
}
.containerButton {
  width: 10vw;
  height: 10vh;
  margin-top: 2vh;
  display: flex;
  justify-content: center;
}

.button {
  background: rgb(2, 148, 2);
  width: 70%;
  margin: 1.5em;
  color: white;
  position: relative;
  border-radius: 5px;
  font-weight: bold;
  font-size: 80%;
 display: flex;
 justify-content: center;
 align-items: center;
}
.button:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
  background: rgba(13, 242, 13, 0.324);
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.3s;
}


.button:hover:before {
        width: 100%;
        color: rgb(104, 104, 197);
}

@media only screen and (min-width: 1200px){
  .button{
    line-height: 0;
    height:70%;
    margin-top: 0;
  }

 
}

@media only screen and (max-width: 1024px){

  .containerButton {
    width: 13vw;
  }

  .button{
    height:70%;
  }
}

@media only screen and (max-width: 555px){

  .box {
    height: 100vh;
    width: 100VW;  
  }

  .mainDiv {
    width: 90vw;
    height: 65vh;
  }
  
  .form {
    width: 100%;
    height: 100%;
  }
  

  .titulo {
    font-size: 3em;
    width: 70vw;
    height: 7.5vh;
    text-align: center;
  }
  
  .containerInput {
    width: 88vw;
    height: 8vh;
    margin: 1vh 2vw;
  }
  
  .span {
text-align: center;
    margin-top: 1vw;
    font-weight: bold;
  }

  .containerButton {
    width: 40vw;
    height: 10vh;
    margin-top: 5vh;
  }

}