.ContainerDetail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.loading{
    color: rgba(1, 24, 202, 0.995);
    text-decoration: double;
    font-weight: bold;
    font-family: monospace;
    font-size: 300%;
    position: relative;
    top: -19vw;
}


@media only screen and (max-width: 680px) {

    .loading{
        color: rgba(3, 0, 79, 0.995);
        top:-30vh;
    }


}
